<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Animal</title>
</head>
<body>
  <a href="/">Home</a>
  <br>
  <form action="/mongooses" method="post">
    <label for="name">Animal Name:</label>
    <input type="text" name="name">
    <br>
    <label for="stripes">Stripes:</label>
    <input type="number" name = "stripes">
    <br>
    <label for="description">Animal Description: </label>
    <br>
    <textarea name="description" for="descipriton" cols="30" rows="10"></textarea>
    <br>
    <br>
    <input type="submit" value="Create Animal">
  </form>
</body>
</html>