@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Passcode</title>
</head>
<body>
    <div id = "container">
        <h1>Random Passcode</h1>

        <br>
        <br>
            <h5>Attempt # @ViewBag.attempt</h5>
        <br>
        <br>
            <H5>@ViewBag.passcode</H5>
        <br>
        <br>
        <a asp-action="Index"><button>Generate</button></a>
        <br>
        <br>
        <a asp-action="Clear"><button>Clear</button></a>
        
    </div>
</body>
</html>
