<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portfolio Home</title>
  <!-- <link rel="stylesheet" href="~/css/style.css"/>-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>
<div id="container" style="padding: 30px;">

<!-- NAV BAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Edwin Regalado</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/projects">Projects<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<!-- HEADER -->

<h1 class="text-center">About Me...</h1>


<!-- CONTENT  -->
<div  style="padding: 30px;" id = "main" class="row">
  



<div class="col-lg-6" class="jumbotron jumbotron-fluid" >
    <p  class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis sit hic, iste eos dolore delectus ullam nihil ad vitae cumque quo sunt dolores excepturi explicabo magni, officia dolorum nulla ducimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, vitae. Explicabo minima et architecto amet aperiam voluptatem, impedit cupiditate expedita numquam ducimus vero reprehenderit saepe optio aut dicta dolores magnam.</p>
</div>

<img class="col-lg-2" src="~/img/me.png" class="card-img-top" style="height: 200px; margin-left: 15%;" alt="...">

</div>






</div>
</body>
</html>