@using FormSubmission.Models
@model User 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form Submission</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    <form asp-action="Process" asp-controller="Home" method="post">
        <span asp-validation-for="FirstName"></span>
        <span asp-validation-for="LastName"></span>
        <span asp-validation-for="Age"></span>
        <span asp-validation-for="Email"></span>
        <span asp-validation-for="Password"></span>
        <br>
        <br>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName">
        <br>
        <br>
        <label asp-for="LastName"></label>
        <input asp-for="LastName">
        <br>
        <br>
        <label asp-for="Age"></label>
        <input asp-for="Age">
        <br>
        <br>
        <label asp-for="Email"></label>
        <input asp-for="Email">
        <br>
        <br>
        <label asp-for="Password"></label>
        <input asp-for="Password">
        <br>
        <br>
        <input value="Submit" type="submit"> 


    </form>
</body>
</html>
