<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create an Event</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <div id='container'>
    
    <div class='opener'>
      <h1>Hello, {{request.session.first_name}}!</h1>
      <a href="/users/logout">Log Out</a>
    </div>


    {% if messages%}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}

    <form action="/users/events/create" method='POST'>
      {% csrf_token %}
      <p>Event</p>
      <input type="text" name="title">
      <p>Where?</p>
      <input type="text" name="location">
      <p>What are you doing?</p>
      <textarea name="desc" cols="30" rows="10"></textarea>
      <p>When?</p>
      <input type="date" name="event_date" id="event_date">
      <br>
      <br>
      <input type="time" name="event_time"> 
      <br>
      <br>
      <input type="submit" value='Create Event'>
    </form>
    <br>
    <br>
    <form action="/users/success">
      {% csrf_token %}
      <input type="submit" value='Go Back'>
    </form>

  </div>
</body>

</html>