<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Great Number Game</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <div id='container'>

    <h1>Welcome to the great number game!</h1>
    <br>
    <h2>I am thinking of a number between 1 and 100</h2>
    <br>
    <h4>Take a Guess</h4>
    <br>
    <h4 class="attempts"> Attempts: {{ session['count'] }}
    </h4>
    <br>
    <h4 id='guess' style="color:{{ session['color'] }}"> {{ session['message'] }} </h4>
    <br>
    <br>
    <form action="/guess" method="POST">

      <input class='search' type="text" name='number'>
      <br>
      <br>
      <input type="Submit" value='Submit'>

    </form>

    <br>

    <form action="/reset">
      <input type="submit" value="Reset">
    </form>

  </div>

</body>

</html>