<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HelloASP</title>
  <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
  <h1>Hello From Views!</h1>
  <hr>
  

  <!-- //RAZOR -->

  @{
    var StringList = new List<string>
    {
      "one",
      "two",
      "three",
      "four"
    };
        
    foreach(var word in StringList)
    {
      <p>@word</p>
      @if(word.Length < 4)
      {
        <p>@word is a short word</p>
      }
    }
}
  
</body>
</html>