*{
  /* outline: 1px dotted red; */
}
#link {
  margin-top: 13px;
  font-size: 10pt;
  padding: 5px;
}
.nav-item{
  padding: 10px;
}
.nav-item{
  margin-right: 3%;
}
.tz, .temperature{
  text-align: center;
}
canvas{
  margin-left: 40%;
}
table{
  overflow: scroll;
}
#main{
  padding: 15px;
}
.my-custom-scrollbar {
  position: relative;
  height: 358px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}