<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ninja Gold</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'first_app/css/style.css' %}">
</head>

<body>
  <header>
    <p id="my_gold">Your gold: {{request.session.gold}}</p>
  </header>

  <div id='row'>
    <div id='location'>
      <h2>Farm</h2>
      <p>(Earns 10 - 20 Golds)</p>
      <form action="/process_money" method="post">
        {% csrf_token %}
        <input type="hidden" name="building" value="farm" />
        <input class='goldbtn' type="submit" value="Find Gold!" />
      </form>
    </div>

    <div id='location'>
      <h2>Cave</h2>
      <p>(Earns 5 - 10 Golds)</p>
      <form action="/process_money" method="post">
        {% csrf_token %}
        <input type="hidden" name="building" value="cave" />
        <input class='goldbtn' type="submit" value="Find Gold!" />
      </form>
    </div>

    <div id='location'>
      <h2>House</h2>
      <p>(Earns 2 - 5 Golds)</p>
      <form action="/process_money" method="post">
        {% csrf_token %}
        <input type="hidden" name="building" value="house" />
        <input class='goldbtn' type="submit" value="Find Gold!" />
      </form>
    </div>

    <div id='location'>
      <h2>Casino</h2>
      <p>(Earns/Takes 0 - 50 Golds)</p>
      <form action="/process_money" method="post">
        {% csrf_token %}
        <input type="hidden" name="building" value="casino" />
        <input class='goldbtn' type="submit" value="Find Gold!" />
      </form>
    </div>
  </div>
  <form id='reset' action="/reset">
    <input type="submit" value="New Game">
  </form>

<h2>Activity Log:</h2>
  <div id = 'log'>
    {% for log in request.session.activities reversed %}
    <ul>
      {% if 'lost' in log %}
        <li class="red">{{ log }}</li>
      {% else %}
        <li class="green">{{ log }}</li>
      {% endif %}
    </ul>
    {% endfor %}
  </div>

</body>

</html>