<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Time Display</title>
</head>
<body>
  <div id = "container">
    <h1>The Current Date and Time is:</h1>

    <h2>
      @{ DateTime CurrentTime = DateTime.Now;}
    </h2>

    <p>@CurrentTime.ToString("MMM d, yyy")</p>
    <p>@CurrentTime.ToString("h:mm tt") </p>

  </div>
</body>
</html>