<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Razor Fun!</title>
</head>
<body>

<h1>Here are some delicious foods!</h1>


@{
  var FoodArray = new string[]
  {
    "Apple Pie",
    "Burritos",
    "Clams Casino",
    "Donuts",
  };

  foreach(var food in FoodArray)
  {
    
    @if(food.Length > 4)
    {
      <p style="color: red;">@food</p>
    }
  }
}
</body>
</html>