@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
<body>
    <div id ="container">
    @using DojoSurveyWTemp.Models
    @model Survey

    <h1>Dojo Survey</h1>

    <form action="/process" method ="post">
    <label for="Name">Your Name: </label>
    <input type="text" name="name">
    <br>
    <br>
    <label for="Location">Location: </label>
    <select name="Location" id="location">
        <option value="">--</option>
        <option value="chicago">Chicago</option>
        <option value="seattle">Seattle</option>
        <option value="tulsa">Tulsa</option>
        <option value="san jose">San Jose</option>
    </select>
    <br>
    <br>
    <label for="Language">Favorite Language: </label>
    <select name="Language" id="language">
        <option value="">--</option>
        <option value="python">Python</option>
        <option value="mean">Mean</option>
        <option value="csharp">C#</option>
    </select>
    <br>
    <br>
    <label for="Comment">Comments (optional): </label>
    <br>
    <br>
    <textarea name="Comment" id="comments" cols="30" rows="10"></textarea>
    <br>
    <br>
    <input type="submit" name="Submit">
    </select>

    </form>

    
    </div>
</body>
</html>
