@model Chef

<a asp-action="Index">Home</a>

<h1>Add a Chef</h1>

<div asp-validation-summary="All"></div>

<form asp-action="AddChef" asp-controller="Home" method="post">
  <label asp-for="FirstName"></label>
  <input asp-for="FirstName">
  <br>
  <label asp-for="LastName"></label>
  <input asp-for="LastName">
  <br>
  <label asp-for="DateOfBirth"></label>
  <input type = "date" asp-for="DateOfBirth">
  <br>
  <input class="btn btn-success" type="submit" value="Add Chef!">
</form>