@{
    ViewData["Title"] = "Home Page";
}

@using ChefsDishes.Models

<h1><a asp-action="Index">Chefs</a> | <a asp-action="DispDishes">Dishes</a></h1>

<a asp-action="DishForm">Add a Dish!</a>

<h2>Yum take a look at our tasty dishes!</h2>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Chef</th>
                <th>Tastiness</th>
                <th>Calories</th>
            </tr>
        </thead>
        <tbody>
            @model List<Dish>
            
            @foreach(var x in @Model)
            {
            <tr>
                <td>@x.Name</td>
                <td>@x.Chef.FirstName</td>
                <td>@x.Tastiness</td>
                <td>@x.Calories</td>
            </tr>
            }
        </tbody>
    </table>


