<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Amadon</title>
</head>

<body>
    <div id='container'>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Amadon Store</span>
        </nav>
        <div class="jumbotron">
            <h1 class="display-4">Thank you for your business!</h1>
            <p class="lead">We charged your credit card for {{request.session.new_price}}</p>
            <hr class="my-4">
            <p>You have ordered {{request.session.total_quantity}} items so far and spent
                {{request.session.total_price}} with Amadon.com!</p>
            <br>
            <br>
            <br>
            <a class="btn btn-primary btn-lg" href="/" role="button">Go Back</a>
            <br>
            <br>
            <br>
            <form action="/reset">
                <input type="submit" class="btn btn-danger" value="Clear Cart">
            </form>
        </div>
    </div>
</body>

</html>