<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quoting Dojo Form</title>
</head>
<body>
  <h1>Welcome to Quoting Dojo</h1>
  <br>
  <form action="/quotes" method="post">
    <label for="name">Your Name:</label>
    <input type="text" name="name">
    <br>
    <br>
    <label for="quote">Your Quote</label>
    <input type="text" name="quote">
    <br>
    <br>
    <input type="submit" value="Add my quote!">
  </form>
  <br>
  <a href="/quotes"><button>Skip to quotes!</button></a>
</body>
</html>