<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Random Word</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'first_app/css/style.css' %}">
</head>

<body>
  <div id='container'>
    <main>
      <div id='header'>
        <p>Random Word (attempt #{{ request.session.count }})</p>
      </div>
      <br>
      <h1>{{ request.session.randword }}</h1>
      <br>
      <form action="/generate" method="POST">
        {% csrf_token %}
        <input type="submit" value="Generate">
      </form>
      <br>
      <form action="/reset">
        <input type="submit" value="Reset">
      </form>
    </main>
  </div>
</body>

</html>