@{
    ViewData["Title"] = "Home Page";
}
@model List<Blog>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <h1>BlogBlock</h1>
        <a asp-action="MyPage" asp-controller="Home" class="btn btn-success">My Page</a>
        <a asp-action="LogOut" asp-controller="Home" class="btn btn-danger">Log Out</a>
    </div>
</nav>

<br>

<h1>Welcome @ViewBag.User.FirstName</h1>

<br>
<div class="jumbotron col-sm-12 col-md-12 col-lg-12">
<form asp-action="Post" asp-controller="Home" method="post">
    <input type="hidden" asp-for="UserId" value=@ViewBag.User.UserId>
    <label asp-for="Message"><h3>What's on your mind?</h3></label>
    <br>
    <br>
    <textarea asp-for="Message"cols="30" rows="10"></textarea>
    <br>
    <br>
    <input class="btn btn-success" type="submit" value="Post!">
</form>
</div>

<br>
<br>

<div class="jumbotron col-sm-12 col-md-12 col-lg-12">
@foreach(var post in @Model)
{
    <h4>@post.Message</h4>
    <h5>@post.Creator.FirstName</h5>
}

</div>